# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/

# Database
*.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local

# Django
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp